<%= link_to 'criar', new_person_path,class: 'btn btn-success' %>
<%= form_for(:file, :url => {:action=>'read_xls'}, :html=> {:multipart=>true}) do |f| %>
  <p>
    <%= f.submit 'upload', class: 'btn btn-primary sent-xls' %>
    <%= f.label :file, 'Arquivo .xlsx com pessoas' %>
    <%= f.file_field :file %>
  </p>
  <% end %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

  $('.sent-xls').click(function(ev){
      if($('#file_file').val().toString().indexOf('.xlsx') == -1){
        ev.preventDefault();
        alert('Você deve escolher um arquivo do tipo XLSX');
      }  
    });

});
</script>
<br />
<%= paginate @people %>
<table class='table table-hover'>
  <thead>
    <tr>
          <th>Data Cadastro</th>
          <th>Name</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Interesses</th>
          <th>Vinculo</th>
          <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= to_date person.created_at %></td>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= to_phone person.phone_number %></td>
        <td><%= to_phone person.cell_number %></td>
        <td>
          <ul>
          <% person.interests.each do |int| %>
            <li><small><%= int.name %></small></li>
          <% end %>
          </ul>
        </td>
        <td><%= person.bond.name if person.bond.present? %></td>
        <td>
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><%= link_to 'detalhes', person %></button>
            <button type="button" class="btn btn-default"><%= link_to 'editar', edit_person_path(person) %></button>
            <button type="button" class="btn btn-default"><%= link_to 'excluir', person, method: :delete, data: { confirm: 'Are you sure?' } %>
</button>
          </div>
          
          
          
                  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @people %>

